body {
    background-color: #202124; /* Couleur de fond sombre */
    color: #ffffff; /* Texte blanc */
}

.window {
    width: 300px;
    border: 1px solid #ffffff; /* Bordure blanche */
    border-radius: 5px;
    background-color: #2d2d2d; /* Couleur de fond sombre */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-bar {
    background-color: #2d2d2d; /* Couleur de fond sombre */
    color: #ffffff; /* Texte blanc */
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.controls button {
    background-color: transparent;
    border: none;
    color: #ffffff; /* Texte blanc */
    cursor: pointer;
}

.content {
    padding: 10px;
}

.title-bar .title {
    -webkit-app-region: drag;
}

.title-bar .controls {
    -webkit-app-region: no-drag;
}

.title-bar .controls span {
    display: none;
}

.title-bar .controls span {
    visibility: hidden;
}

#launchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Largeur du bouton */
    height: 50px; /* Hauteur du bouton */
    font-size: 16px; /* Taille de la police */
    color: #ffffff; /* Couleur du texte */
    background-color: #000000; /* Couleur de fond */
    border: 2px solid #ff0000; /* Bordure multicouleur */
    border-radius: 10px; /* Rayon de la bordure */
    padding: 0; /* Supprime le remplissage du bouton */
}

#launchButton:hover {
    background-color: #1a1a1a; /* Couleur de fond au survol */
    cursor: pointer; /* Curseur pointeur au survol */
}

#launchButton img {
    width: 24px; /* Largeur du logo */
    height: 24px; /* Hauteur du logo */
    margin-right: 5px; /* Marge à droite pour séparer le logo du texte */
}



